$nt-input-shadow-invalid: 0 0 0 0px rgba(get-color(alert), .1);
$nt-input-shadow-valid: 0 0 0 0px rgba(get-color(success), .1);
$nt-input-shadow-warning: 0 0 0 0px rgba(get-color(warning), .1);

$nt-input-shadow-invalid-focus: 0 0 0 2px rgba(get-color(alert), .2);
$nt-input-shadow-valid-focus: 0 0 0 2px rgba(get-color(success), .2);
$nt-input-shadow-warning-focus: 0 0 0 2px rgba(get-color(warning), .2);
