# Windows 文件夹配置文件
desktop.ini

# Mac OS X 文件夹配置文件
.DS_Store

# bower 前端库
/bower_components/*/

# SVN 数据路径
/.svn/

# WebStorm 工程配置路径
/.idea/

# NPM 模块路径
/node_modules/*

# eclipse 工程信息文件
.project

# NPM 调试日志
npm-debug.log

# visual studio code 配置文件
/.vscode/

# 打包文件
/*.tar.gz

/npm-*
/package-*
/yarn-*

/dist/*
/docs/
/out-tsc/*

/**/*/_TODOS/*
