<div class="top-bar wrapper">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="logo"><a [routerLink]="['/']"><img src="/assets/logo.svg"><b>NG-TANGRAM</b></a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li routerLinkActive="active"><a [routerLink]="['/', 'components']">组件</a></li>
      <li routerLinkActive="active"><a>高级组件</a></li>
      <li routerLinkActive="active"><a href="//pro.tangramui.com" target="_blank">PRO</a></li>
    </ul>
  </div>
</div>
