


$lager-max-width: 1400px;
$medium-max-width: 1100px;

.wrapper {
  max-width: $medium-max-width;
  margin: 0 auto;
}

@media only screen and (min-width: 1500px) {
  .wrapper {
    max-width: $lager-max-width;
  }
}
