@import 'global';
@import '~foundation-sites/scss/util/util';

@mixin blockquote-variant ($color, $boder-color, $bg-percent: 45%) {
  // color: @color;
  border-left-color: $boder-color; // background-color: lighten(@color, @bg-percent);
}

@mixin img-box-variant ($color) {
  p {
    border-top-color: $color;
  }
}

pre,
code {
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

code {
  color: $code-color;
  padding: 2px 4px;
  font-size: 90%;
  background-color: $code-bg;
  border-radius: $global-radius;
}

pre {
  color: black;
  background: #f5f2f0;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

pre {
  code {
    padding: 0px;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}

blockquote {
  font-size: 12px;
  color: $dark-gray;
  border-left-width: 3px;
}

.markdown {
  color: #333;
  line-height: 1.6em;
  font-size: rem-calc(12);

  h1 {
    margin-bottom: 1em;
  }

  h2,
  h3 {
    margin-top: $global-margin * 2;
    margin-bottom: 1em;
  }
  h4,
  h5,
  h6 {
    margin-top: $global-margin;
    margin-bottom: ($global-margin / 2);
  }
  h1,
  h2,
  h3,
  h4,
  hr {
    clear: both;
  }
  ul:not([class]) > li {
    list-style-type: circle;
    margin-left: 1.6em;
    padding-left: 4px;
  }
  ol:not([class]) > li {
    list-style-type: decimal;
    margin-left: 1.6em;
    padding-left: 4px;
  }
  img {
    max-width: 100%;
  }

  table > thead > tr {
    & > th,
    & > td {
      border-bottom-width: 1px;
    }
  }
  blockquote {
    padding: rem-calc(1 18);
    margin: 0 0 rem-calc(15);
    background-color: lighten($light-gray, 5%);
  }
  .language-text {
    line-height: 1em;
  }
}
