<app-header fixed></app-header>
<div class="cell shrink nav-treebar docs-nav-treebar">
  <div class="docs-nav">
    <ng-container *ngIf="hasGroup else flatten">
      <ng-container *ngFor="let group of groups">
        <div class="nav-treebar-group" *ngIf="group.categories else nochildren;">
          {{ group.name }}
        </div>
        <ng-template #nochildren>
          <a class="nav-tree-no-children" routerLinkActive="active" [routerLink]="['./', group.path]">{{group.name}}</a>
        </ng-template>
        <ul class="nav nav-tree nav-stacked no-bullet">
          <li *ngFor="let item of group.categories" routerLinkActive="active">
            <a [routerLink]="['./', item.path]">{{item.title}}</a>
          </li>
        </ul>
      </ng-container>
    </ng-container>
    <ng-template #flatten>
      <ul class="nav nav-tree nav-stacked no-bullet">
        <li *ngFor="let item of categories" routerLinkActive="active">
          <a [routerLink]="['./', item.path]">
            {{item.title}}</a>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
<div class="cell auto nav-content docs-nav-content">
  <div class="nav-content-wrapper">
    <h1>{{ title }}</h1>
    <div class="nt-markdown">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
