<app-header fixed></app-header>
<div class="advenced-wrapper">
  <div class="advenced-content">
    <h1>高级组件</h1>
    <p>
      高级组件作为基础组件的补充，因为它们可能会依赖一些第三方库实现，因此将会独立发布。
    </p>

    <h2>组件</h2>
    <div class="grid-x">
      <div class="cell medium-4">1</div>
      <div class="cell medium-4">2</div>
      <div class="cell medium-4">3</div>
      <div class="cell medium-4">1</div>
      <div class="cell medium-4">2</div>
      <div class="cell medium-4">3</div>
      <div class="cell medium-4">1</div>
      <div class="cell medium-4">2</div>
      <div class="cell medium-4">3</div>
      <div class="cell medium-4">1</div>
      <div class="cell medium-4">2</div>
      <div class="cell medium-4">3</div>
    </div>
  </div>
</div>
