@import 'src/styles/variables';

$wrapper-header-height: 60px;
$navbar-width: 230px;
$navbar-background: #1e222a;

$footer-background: #fafcfe;

$wrapper-border: 1px solid #e6e6e6;

:host {
  display: block;
  height: 100%;
}

.wrapper-header {
  height: $wrapper-header-height;
  background: white;
  // border-bottom: $wrapper-border;
  box-shadow: 0px 0px 5px $medium-gray;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;

  .top-bar {
    height: 100%;
    background: transparent;
    padding-top: 0;
    padding-bottom: 0;
  }

  .top-bar-left,
  .top-bar-right {
    display: flex;
    height: 100%;
  }

  .menu {
    background: transparent;
    align-items: center;
    > li {

      height: 100%;
      align-items: center;

      > a {
        transition: border-bottom-color .3s, color .3s;;
        color: $black;
        min-width: 60px;
        // padding: 1.25rem 1rem;
        position: relative;
        justify-content: center;
        display: flex;
        align-items: center;
        height: 100%;

        &:before {
          content: '';
          position: absolute;
          height: 2px;
          font-size: 0;
          left: 50%;
          right: 50%;
          bottom: 0;
          background-color: $primary-color;
          transition: left .3s, right .3s;
        }
      }

      &.active > a,
      &:hover > a,
      &:focus > a {
        color: $primary-color;
      }

      &.active > a {
        background-color: unset;
        // border-bottom-color: $primary-color;
        &:before {
          left: 0%;
          right: 0%;
        }
      }
    }
  }
  .logo {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    // width: $navbar-width;

    a {
      padding: 0;
      color: inherit;
      border-bottom: none !important;
    }
  }
  .logo img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: top;
  }

  .logo b {
    line-height: 22px;
    font-weight: normal;
  }
}

.wrapper-pusher {
  min-height: 100vh;
  display: flex;
  padding-top: $wrapper-header-height;
  flex-direction: column;
}

.wrapper-body {
  flex-grow: 1;
}

.wrapper-footer {
  position: relative;
  border-top: $wrapper-border;
  background-color: $footer-background;
  font-size: rem-calc(15);
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 2em;
  padding-top: 2em;
  flex-shrink: 0;

  .sitemap {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto 3em;
    padding: 0 20px;
    div {
      flex-shrink: 0;
      min-width: 300px;

      &.company-logo {
        flex: 2;
        text-align: right;
      }
    }

    h4 {
      font-weight: 400;
      font-size: rem-calc(16);
      line-height: 1.25;
      margin-bottom: 1em;
      margin-top: 1.5em;
    }

    a {
      color: #999;
      display: block;
      margin: 2px -10px;
      padding: 3px 10px;
    }

    .code-dance {
      margin-top: 3em;
    }

    .code-dance img {
      width: 150px;
    }
  }

  .copyright {
    color: #bbb;
    // font-size: 14px;
    border-top: 1px solid #efefef;
    margin: 0;
    padding: 1em;
    text-align: center;
  }
}


@media only screen and (max-width: 1023px) {
  .wrapper-footer .sitemap {
    flex-direction: column;
    width: calc(100% - 4em);
    div.company-logo {
      text-align: left;
    }
  }
}


