@import 'src/styles/variables';

$wrapper-header-height: 60px;
$navbar-width: 230px;
$navbar-background: #1e222a;

.wrapper {
  height: 100%;
  padding-top: $wrapper-header-height;
}

.wrapper-header {
  height: $wrapper-header-height;
  background: white;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  .top-bar {
    height: 100%;
    background: transparent;
    // padding: 0 3rem;
    max-width: 1500px;
    margin: 0 auto;
  }
  .menu {
    background: transparent;

    > li {
      padding: 0 .5rem;
      > a {
        border-bottom: 2px solid transparent;
        transition: border-bottom-color .3s, color .3s;;
        color: #333;
      }

      &.active > a,
      &:hover > a,
      &:focus > a {
        color: $primary-color;
      }

      &.active > a {
        background-color: unset;
        border-bottom-color: $primary-color;
      }
    }
  }
  .logo {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    // width: $navbar-width;

    a {
      padding: 0;
      color: inherit;
      border-bottom: none !important;
    }
  }
  .logo img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: top;
  }

  .logo b {
    line-height: 22px;
  }
}
.wrapper-body {
  margin: 20px 20px 20px 20px;
  padding: 0px 0px;
  background-color: #FFF;
  border-radius: 10px;
}
