
@import '~foundation-sites/scss/foundation';

$font-family-icon: 'anticon' !default;
$fa-var-check: "\e632" !default;
$check-icon: $fa-var-check !default;

@mixin checkbox-variant($parent, $color) {
  #{$parent} input[type="checkbox"]:checked+label,
  #{$parent} input[type="radio"]:checked+label {
    &::before {
      background-color: $color;
      border-color: $color;
    }
    &::after {
      color: #fff;
    }
  }
}

@mixin checkbox-variant-indeterminate($parent, $color) {
  #{$parent} input[type="checkbox"]:indeterminate+label,
  #{$parent} input[type="radio"]:indeterminate+label {
    &::before {
      background-color: $color;
      border-color: $color;
    }
    &::after {
      background-color: #fff;
    }
  }
}

.checkbox {
  padding-left: 20px;
  label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    height: 23px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      margin-left: -27px;
      border: $input-border;
      border-radius: $input-radius;
      background-color: $input-background;
      transition: background-color .5s, border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &::after {
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: -4px;
      margin-left: -27px;
      padding-left: 2px;
      font-size: rem-calc(18);
      color: $input-color;
    }
  }
  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    margin: 4px 4px 4px -18px;
    opacity: 0;
    z-index: 1;
    width: 18px;
    height: 17px;
    &:focus+label::before {
      outline: 0;
    }
    &:checked+label::after {
      font-family: $font-family-icon;
      content: $check-icon;
    }
    &:indeterminate+label::after {
      display: block;
      content: "";
      width: 10px;
      height: 3px;
      background-color: #555555;
      border-radius: $input-radius;
      margin-left: -22.5px;
      margin-top: 11px;
    }
    &:disabled+label {
      opacity: 0.65;
      &::before {
        background-color: $input-background-disabled;
        cursor: not-allowed;
      }
    }
  }
  &.checkbox-circle label::before {
    border-radius: 50%;
  }
  &.checkbox-inline {
    margin-top: 0;
    display: inline-block;
  }
}

@include checkbox-variant('.checkbox.primary', get-color(primary));
@include checkbox-variant('.checkbox.secondary', get-color(secondary));
@include checkbox-variant('.checkbox.alert', get-color(alert));
@include checkbox-variant('.checkbox.warning', get-color(warning));
@include checkbox-variant('.checkbox.success', get-color(success));
@include checkbox-variant-indeterminate('.checkbox.primary', get-color(primary));
@include checkbox-variant-indeterminate('.checkbox.secondary', get-color(secondary));
@include checkbox-variant-indeterminate('.checkbox.alert', get-color(alert));
@include checkbox-variant-indeterminate('.checkbox.warning', get-color(warning));
@include checkbox-variant-indeterminate('.checkbox.success', get-color(success));
