// 1. Global
// ---------
$contrast-warnings: false;
$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5;
$foundation-palette: (
  primary: #007bff,
  secondary: #6c757d,
  success: #28a745,
  warning: #fd7e14,
  alert: #dc3545
);
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
$body-background: #F7F7F7;
$body-font-color: $black;
$body-font-family:
Helvetica Neue For Number,
-apple-system,
BlinkMacSystemFont,
Segoe UI,
Roboto,
PingFang SC,
Hiragino Sans GB,
Microsoft YaHei,
Helvetica Neue,
Helvetica,
Arial,
sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-position: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 3px;
$global-menu-padding: 0.7rem 1rem;
$global-menu-nested-margin: 1rem;
$global-text-direction: ltr;
$global-flexbox: true;
$global-prototype-breakpoints: true;
$global-button-cursor: auto;
$global-color-pick-contrast-tolerance: 0;
$print-transparent-backgrounds: true;
$code-color: #c7254e;
$code-bg: #f9f2f4;
$grid-columns: 12;
