

// @import 'global';
// @import 'settings';
@import 'navbar';
@import 'markdown';

$button-color-alt: $white;
$badge-color-alt: $white;
$label-color-alt: $white;
$table-padding: .5rem 1.25rem;
$table-is-striped: false;

$switch-height: 20px;
$switch-height-tiny: 16px;
$switch-height-small: 18px;
$switch-height-large: 24px;
$switch-paddle-offset: 2px;

$input-border-focus: 1px solid get-color(primary);
$input-placeholder-color: $dark-gray;

$input-shadow: 0 0 0 0px rgba($black, 0.1);
$input-shadow-focus: 0 0 0px 2px rgba(get-color(primary), .2);
$input-transition: background-color .3s, box-shadow .3s;

$nt-input-shadow-invalid: 0 0 0 0px rgba(get-color(alert), .1);
$nt-input-shadow-valid: 0 0 0 0px rgba(get-color(success), .1);
$nt-input-shadow-warning: 0 0 0 0px rgba(get-color(warning), .1);

$nt-input-shadow-invalid-focus: 0 0 0 2px rgba(get-color(alert), .2);
$nt-input-shadow-valid-focus: 0 0 0 2px rgba(get-color(success), .2);
$nt-input-shadow-warning-focus: 0 0 0 2px rgba(get-color(warning), .2);

// $input-font-size: rem-calc(26);
// $form-label-font-size: rem-calc(20);
@import '~foundation-sites/scss/foundation';
@import '../libs/components/styles';


@include foundation-global-styles;
@include foundation-prototype-classes;
@include foundation-xy-grid-classes;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-table;
@include foundation-top-bar;

@include ng-tangram;

body {
  font-family: $body-font-family;
  font-size: rem-calc(14);
  background-color: #f5f5f5;
}

img {
  border: none;
}

ol, ul {
  padding: 0;
  margin: 0;
}

a {
  color: get-color(primary);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: darken(get-color(primary), 10%);
  }
}
