

@import 'global';
@import 'settings';
@import 'navbar';
@import 'markdown';
@import '~foundation-sites/scss/foundation';
@import '../libs/components/styles';

@import 'vaadin';

@include ng-tangram;

@include foundation-prototype-classes;
@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-visibility-classes;
@include foundation-float-classes;

@include foundation-table;
@include foundation-top-bar;

body {
  font-family: $body-font-family;
  font-size: rem-calc(14);
}

img {
  border: none;
}

ol, ul {
  padding: 0;
  margin: 0;
}

a {
  color: get-color(primary);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: darken(get-color(primary), 10%);
  }
}
