

@mixin nt-popover {
  .dropdown-pane.popover {
    padding: 0px;
    background-color: #FFF;
    .popover-title {
      padding: .5rem $dropdown-padding;
      border-bottom: 1px solid #eee;
    }
    .popover-pane {
      padding: $dropdown-padding;
    }
  }
}
