@import '~foundation-sites/scss/foundation';

@include foundation-forms;

.form-field {
  .form-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }
}

.form-field.form-inline {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  .form-label {
    vertical-align: top;
    line-height: 34px;
  }
  .form-group {
    display: inline-block;
  }
}

@mixin form-validate-mixin($color: get-color(alert)) {
  label,
  .form-error {
    color: $color;
  }
  .form-error {
    display: block;
  }
  select,
  textarea,
  input {
    border-color: $color;
    background-color: lighten($color, 35%);
  }

  .input-group {
    border-color: $color;
    background-color: lighten($color, 35%);
  }
}

select,
textarea,
input {
  &:hover {
    background-color: darken($input-background, 5%);
  }
}

.input-group {
  box-shadow: $input-shadow;
  border-radius: $global-radius;
  background-color: $input-background;
  transition: $input-transition;

  .input-group-label {
    color: $input-placeholder-color;
    border: 0;
    background-color: transparent;
    & + {
      select,
      textarea,
      input {
        padding-left: 0px;
      }
    }
  }


  select,
  textarea,
  input {
    box-shadow: none;
    background-color: transparent;
    & + .input-group-label {
      padding-right: 0px;
    }
  }

  &:hover {
    background-color: darken($input-background, 5%);
    select,
    textarea,
    input {
      box-shadow: none;
      background-color: transparent;
    }
  }

  &:focus-within {
    box-shadow: $input-shadow-focus;
    background-color: #FFF;
    select,
    textarea,
    input {
      box-shadow: none;
      background-color: transparent;
    }
  }
}

.form-static {
  display: block;
  width: 100%;
  .form-label {
    width: 120px;
  }
}

.has-error {
  @include form-validate-mixin;
}

.has-success {
  @include form-validate-mixin(get-color(success));
}

.has-warning {
  @include form-validate-mixin(get-color(warning));
}
