$nt-select-radius: $global-radius !default;
$nt-select-background: $white !default;

@mixin nt-select {

  .nt-select {
    position: relative;
    display: block;
    margin: 0 0 $form-spacing;

    &:focus {
      outline: none;
    }
  }

  .nt-select input {
    background-color: $input-background;
    cursor: auto !important;
    padding-right: 2rem;
    text-overflow: ellipsis;
    margin: 0;
  }

  .nt-select.open input {
    outline: none;
    border: $input-border-focus;
    background-color: $input-background-focus;
    box-shadow: $input-shadow-focus;
  }

  .nt-select-caret {
    position: absolute;
    right: .6rem;
    top: .6rem;
    pointer-events: none;
    &::after {
      display: inline-block;
      color: $select-triangle-color;
      content: '\25BC';
    }
  }

  .nt-select-pane {
    min-width: 100px;
    border-radius: $nt-select-radius;
    background-color: $nt-select-background;
    max-height: 0px;
    overflow-y: scroll;
    transition: max-height .3s;
    &.folded {
      max-height: 256px;
    }
  }

  .nt-select-pane nt-ant-icon {
    margin-right: .3rem;
  }
}
