@import '~foundation-sites/scss/foundation';

.nt-select {
  position: relative;
  display: block;
}

.nt-select input[readonly] {
  background-color: $input-background !important;
  cursor: auto !important;
  padding-right: 2rem;

  &:focus + .nt-select-caret::after {
    transform: rotate(-180deg);
  }
}

.nt-select-caret {
  position: absolute;
  right: .8rem;
  top: 1.2rem;
  &::after{
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #888 transparent transparent;
    right: 5px;
    left: auto;
    margin-top: -3px;
    transition: transform .2s;
  }
}

.nt-select-pane {
  border-radius: $dropdown-radius;
  background-color: $dropdown-background;
}
