
@import '~foundation-sites/scss/foundation';

/// Default cursor of the defined term.
/// @type Keyword
$has-tip-cursor: help !default;

/// Default font weight of the defined term.
/// @type Keyword | Number
$has-tip-font-weight: $global-weight-bold !default;

/// Default border bottom of the defined term.
/// @type List
$has-tip-border-bottom: dotted 1px $dark-gray !default;

/// Default color of the tooltip background.
/// @type Color
$tooltip-background-color: $black !default;

/// Default color of the tooltip font.
/// @type Color
$tooltip-color: $white !default;

/// Default padding of the tooltip background.
/// @type Number
$tooltip-padding: 0.75rem !default;

/// Default max width for tooltips.
/// @type Number
$tooltip-max-width: 10rem !default;

/// Default font size of the tooltip text. By default, we recommend a smaller font size than the body copy.
/// @type Number
$tooltip-font-size: $small-font-size !default;

/// Default pip width for tooltips.
/// @type Number
$tooltip-pip-width: 0.75rem !default;

/// Default pip height for tooltips. This is helpful for calculating the distance of the tooltip from the tooltip word.
/// @type Number
$tooltip-pip-height: $tooltip-pip-width * 0.866 !default;

/// Default radius for tooltips.
/// @type Number
$tooltip-radius: $global-radius !default;

.tooltip {
  max-width: $tooltip-max-width;
  padding: $tooltip-padding;
  border-radius: inherit;
  background-color: $tooltip-background-color;
  font-size: $tooltip-font-size;
  color: $tooltip-color;
}

.nt-overlay-container.tootip-overlay {
  .nt-overlay-arrow {
    background-color: $tooltip-background-color;
  }
}
